extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back Home
    a(href=`/project/${data.next}`) Next: Project #{data.next} →
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{data.project_name}
        p.lead.text-light
          | !{data.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each item in data.technologies
            li #{item}
        a.button.expanded(href=`${data.live_link}`, target='blank') Live Demo
        a.button.expanded(href=`${data.github_link}`, target='blank') GitHub Repo
    - var imgIndex = 0
    each img in data.image_urls[1]
        img.image(src=`${img}`)
        | <p>!{data.banner_captions[imgIndex++]}</p>
        

    